@import url('https://fonts.googleapis.com/css2?family=Song+Myung&family=Yeseva+One&display=swap');

* {
box-sizing: border-box;
}

img {
width: 350px;
margin: 0 auto;
position: absolute;
height: auto;
left: 0;
right: 0;
top: 30%;
}

body {
background-color: beige;
background-image: url(https://www.teahub.io/photos/full/62-626076_studio-ghibli-sky-background.jpg);
background-position: center center;
background-repeat: no-repeat;
background-attachment: fixed;
background-size: cover;
background-color: #FEFEE3;
align-items: center;
cursor: pointer;

}

h1 {

font-family: 'Yeseva One', serif;
font-size: 100px;
align-items: center;
justify-content: center;
text-align: center;
color: #CF2D25;
margin-top: 400px;
margin-bottom: 400px;
}

h2 {

font-family: 'Song Myung', serif;
font-size: 40px;
color: #DA352D;
padding-left: 75px;
}

h3 {

font-family: 'Song Myung', serif;
font-size: 20px;
align-items: center;
justify-content: center;
text-align: center;
color: #FFF3E2;
}

main {

font-family: 'Song Myung', serif;
font-size: 20px;
color: #FFF3E2;
}

.audio {
align-items: top right;
justify-content: right;
position: absolute; top: 10px; right: 10px;
}

.grid-container {
display: grid;
grid-template-columns: auto auto auto;
padding: 10px;
justify-content: center;
grid-column-gap: 200px;
grid-row-gap: 100px;

}

.grid-item {
background-color: #FEFEE3;
border-radius: 50%;
height: 140px;
width: 140px;
padding: 20px;
font-size: 30px;
text-align: center;

}

.menu-content {
display: flex;
flex-direction: column;
cursor: default;
}

.menu-content a {
color: white;
font-size: 27px;
text-decoration: none;
justify-content: normal;
text-align: center;
width: 200px;
height: 60px;
padding: 0.6rem;
margin: 2rem 2rem 2rem;
border-radius: 1.5rem 1.5rem 1.5rem 1.5rem;
}

#peliculas {
background-color: #2d62a8;
}

#peliculas:hover {
background-color: #84b6f4;
}

#personajes{
background-color: #d9352c;
}

#personajes:hover {
background-color: #ff6961;
}

#directores {
background-color: #f0bc67;
}

#directores:hover {
background-color: #f7f791;
}

.cartel {
    display: inline-block;
    width: 100px;
    height: auto;
}